# IntellijIdea files
.idea
*.iml
out/
gen/
target/
uploads/
idea-gitignore.jar
resources/templates.list
resources/gitignore/*
build/
build.properties
junit*.properties
IgnoreLexer.java~
.gradle

# MVCode
.vscode/
.settings/
.project
.classpath



/verification